<html>
  <head>
    <!-- <title>Books List</title> -->
  </head>
  <body>
    <div class="container-fluid">
     <div class="row">
       <div class="col-md-12" style="height: 370px;">
         <div class="row">

          <div class="col-md-4" style="margin-top: 9px; height:230px;">
           <div class="row">
             <div class="col-md-12" style="padding: 35px; height:100px">
               <div class="card">
                 <img class="card-img-top" id="card1" style="height: 200px; background-size: cover;">
                 <div class="card-body">
                   <div>
                     <h5 class="card-title" style=" font-family: serif;font-weight: lighter; font-size:medium;height:40px">Robert Downey Jr.: The Fall and Rise of the Comeback Kid Hardcover</h5>
                     <p (click)="cart()"style="cursor:pointer" class="sample">See More</p>
                   </div>
                 </div>
               </div>

             </div>
           </div>
          </div>


          <div class="col-md-4" style="margin-top: 9px; height:230px">
           <div class="row">
             <div class="col-md-12" style="padding: 35px;height:100%">
               <div class="card">
                 <img class="card-img-top" id="card2" style="height: 200px; background-size: cover;">
                 <div class="card-body">
                   <div>
                     <h5 class="card-title" style=" font-family: serif;font-weight: lighter; font-size:medium;height:40px">Madness Is Better Than Defeat: A novel</h5>
                     <p (click)="cart()"style="cursor:pointer" class="sample">See More</p>
                   </div>
                 </div>
               </div>

             </div>
           </div>
          </div>


            <div class="col-md-4" style="margin-top: 9px;height:230px">
           <div class="row">
             <div class="col-md-12" style="padding: 35px;height:100%">
               <div class="card">
                 <img class="card-img-top" id="card3" style="height: 200px; background-size: cover;">
                 <div class="card-body">
                   <div>
                     <h5 class="card-title" style=" font-family: serif;font-weight: lighter; font-size:medium;">The Godfather (novel) by <br>Carlo DeVito .
                    </h5>
                     <p (click)="cart()"style="cursor:pointer" class="sample">See More</p>

                   </div>
                 </div>
               </div>

             </div>
           </div>
          </div>

          </div>
       </div>
       <div class="col-md-12" style="height: 370px;">
         <div class="row">
            <div class="col-md-4" style="margin-top: 9px;height:230px">
          <div class="row">
            <div class="col-md-12" style="padding: 35px;height:100%">
              <div class="card">
                <img class="card-img-top" id="card4"src="../../book4.jpg" style="height: 200px; background-size: cover;">
                <div class="card-body">
                  <div>
                    <h5 class="card-title" style=" font-family: serif;font-weight: lighter; font-size:medium;">Catch-22
                      (Catch-22 #1)</h5>
                    <p (click)="cart()"style="cursor:pointer" class="sample">See More</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
         </div>
         <div class="col-md-4" style="margin-top: 9px;">
          <div class="row">
            <div class="col-md-12" style="padding: 35px;">
              <div class="card">
                <img class="card-img-top"id="card5" style="height: 200px; background-size: cover;">
                <div class="card-body">
                  <div>
                    <h5 class="card-title" style=" font-family: serif;font-weight: lighter; font-size:medium;">Jurassic Park: A Novel: </h5>
                    <p (click)="cart()"style="cursor:pointer" class="sample">See More</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
         </div>
         <div class="col-md-4" style="margin-top: 9px;">
          <div class="row">
            <div class="col-md-12" style="padding: 35px;">
              <div class="card">
                <img class="card-img-top" id="card6" style="height: 200px; background-size: cover;">
                <div class="card-body">
                  <div>
                    <h5 class="card-title" style=" font-family: serif;font-weight: lighter; font-size:medium;">Catch-22: 50th Anniversary Edition </h5>
                    <p (click)="cart()"style="cursor:pointer" class="sample">See More</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
         </div>
       </div>
       </div>
     </div>
<div class="row">
  <div class="col-md-12">
    <div class="footer-copyright text-center py-3" >© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
  </div>
</div>
    </div>
  </body>
</html>
