<html>
  <body>
    <div style="height: 25px;"></div>
    <div class="container">
      <div  id="maincontainer">

     <div class="row">
       <!-- <div class="column"> -->
       <div class="col-md-4" >
       <img src="https://m.media-amazon.com/images/P/B00QMJ528I.01._SCLZZZZZZZ_SX500_.jpg" style="width: 200px; height: 320px;border-radius: 10px;margin-left: 18px;margin-top: 12px;">
       </div>
       <button id="select" (click)="function()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg></button>
       <div class="col-md-8">
         <div class="row">
           <div class="col-md-12">
            <blockquote class="blockquote">
              <h2 class="d-block;">Robert Downey Jr.: The Fall and Rise of the Comeback Kid</h2>
              <footer class="blockquote-footer">By <cite title="Source Title">Ben Falk</cite></footer>
            </blockquote>
            <p class="d-block">The 'Iron Man' star is apparently planning a tell-all tome of his own. Until he gets round to it, this is the next best thing: a collation of tales charting his amazing journey from tormented drug addict to one of Hollywood's biggest stars. Ben Falk unearths lots of detail and peppers the book with fresh quotes from acquaintances and confidants of his subject. Empire Magazine: 4 stars --Empire Magazine (May 2010)</p>
            <p class="d-block" style="font-size:35px;font-weight: bold; padding-left: 40px;">₹ 3000</p>
            <p class="d-block" style="padding-left:10px;font-weight: bold;">Available offers</p>
            <p class="d-block" style="padding-left:10px;font-weight: bold;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg>
              Bank offer 10% off on ICICI Bank Credit Cards,upto <span class="badge bg-success" style="color:white;font-weight:bold">₹ 500.</span></p>
            <p class="d-block" style="padding-left:10px;font-weight: bold;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
              <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg> Bank offer 10% off on Axis Bank Credit Cards,upto <span class="badge bg-success" style="color:white;font-weight:bold">₹ 300.</span></p>
            <p class="d-block" style="text-align: start;font-weight: bold;margin-left: 28px;margin-top: 7px;">Rating</p>
            <p class="d-inline" style="margin-left: 15px;color:yellow;stroke: orange"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg></p>
            <p class="d-inline" style="margin-left: 15px;color:yellow;stroke: orange"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg></p>
            <p class="d-inline" style="margin-left: 15px;color:yellow; stroke: orange;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg></p>
            <p class="d-inline" style="margin-left: 15px;color:yellow; stroke: orange;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
              <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
            </svg></p>
           </div>

           <div class="col-md-12" style="margin-top:5px">
             <div class="row">
               <div class="col-md-3">
                 <button class="btn-md"style="background-color: yellow;color:black;border-radius: 12px;font-weight:500;width:150px;height:35px;margin-left:300">Add to wishlist</button>
               </div>
               <div class="col-md-2">
               </div>
               <div class="col-md-3">
                 <button class="btn-md"style="background-color: yellow;color:black;border-radius: 12px;font-weight:500;width:150px;height:35px;margin-left:300">Add to cart</button>
               </div>
             </div>
           </div>
         </div>

        <!-- <div class="row"> -->
          <!-- <div class="col-md-12"> -->
            <!-- <p>hi</p> -->
            <!-- <button style="background-color: green;align-items: flex-start;">Add to wishlist</button> -->
          </div>
        </div>
      </div>



       <!-- </div> -->
       <div class="row2">
      </div>
      </div>

    <!-- </div> -->
     <!-- <a href="#" style="color: red;margin-top: 10px;">Save for later</a>
         <a href="#" style="color: red;margin-top: 10px;margin-left: 10px;">Remove</a> -->
    <!-- </div> -->
  </body>
</html>
