<html>
<body>
<div class="container-fluid" style="margin-top: 6px;">
  <div class="container">
   <div class="row">
     <div class="col-md-8">
       <div class="card">
         <div class="card-header" style="background: none;">
           <!-- <div class="card-title" style="text-align: center;">Selected Book</div> -->

           <ul style="display: inline-block-flex;">
             <li style="list-style: none; display: inline;">My Cart(1)</li>
            <li style="list-style: none; display: inline; margin-left: 20px;"> <small class="text-muted"><span class="badge badge-success">Deliver to</span></small></li>
            <li style="list-style: none; display: inline; margin-left: 40px; width: 80px;">
              <select name="cities" style="border-radius: 12px;text-align: center; size: 30px; width: 120px;">
                  <option value="madurai" style="border-radius: 12px;">Madurai</option>
                  <option value="chennai" style="border-radius: 12px;">Chennai</option>
                  <option value="kolkota" style="border-radius: 12px;">Kolkata</option>
                  <option value="delhi" style="border-radius: 12px;">Delhi</option>
              </select></li>
           </ul>
         </div>
         <div class="row">
           <div class="col-md-4">
             <img src="https://media.istockphoto.com/photos/row-of-books-on-a-shelf-multicolored-book-spines-stack-in-the-picture-id1222550815?b=1&k=20&m=1222550815&s=170667a&w=0&h=MTxBeBrrrYtdlpzhMpD1edwLYQf3OPgkNeDEgIzYJww=" style="height: 200px; width: 200px; margin-left: 10px; margin-top: 20px;" >
           </div>
           <div class="col-md-8">
            <div class="card-body">

              <a href="#" style="align-items: inline; font-weight: bold;">Robert Downey Jr.: The Fall and Rise of the Comeback Kid Hardcover</a>
              <br>
              <small class="text-muted">by Ben Falk (Author)</small>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <small class="text-muted d-inline" style="margin-right: 7px; cursor: pointer;">Kindle Edition</small>
                  <small class="text-muted d-inline" style="margin-right: 75px; cursor:pointer">Hard Cover</small>
                </div>
              </div>
              <br>
              <small class="text-muted" style="margin-right: 7px;">₹ 3,000</small>
              <small class="text-muted" style="text-decoration: line-through;margin-right: 9px;">₹ 3,500</small>
              <small class="text-muted" ><span class="badge badge-primary" style="font-size: 12px;"> 8.13% Offer</span></small>
              <br>
             </div>
           </div>
          </div>

        <div class="card-footer"style="background: none;" style="height: 10%;">
          <button class="btn btn-md" style="align-self: flex-start;font-weight: bold ;" (click)="clicked()">Remove from Cart</button>
          <button class="btn btn-md" style=" margin-left:20px;align-self: flex-end; background-color: #FFD301;font-weight: bold;" (click)="clicked()">Place Order</button>
        </div>
      </div>
     </div>
     <div class="col-md-4">

           <div class="card">
             <div class="card-header" style="background: none;margin-bottom: 25px;">
               <div class="card-title">
                 <b class="text-muted" style="text-align: center;"> PRICE DETAILS</b>
               </div>
             </div>
             <div class="card-body">
              <div class="row">
              <div class="col-md-6">
                <p class="display-inline"><b>Price (1 item)</b></p>
              </div>
              <div class="col-md-6">
                <p class="display-inline" style="float: right;">₹ 3,000</p>
              </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-8">
                  <p class="d-inline"><b>Delivery charges</b></p>
                </div>
                <p class="d-inline" style="padding-left: 60px;">None</p>
              </div>
              <hr>
              <div class="row">
              <div class="col-md-12">
               <div class="col-md-8 d-inline">
                 <span style="margin-top: 3px; color: green;font-weight: bold;">You will save</span>
               </div>
               <div class="col-md-4 d-inline">
                <p style="float: right;">500</p>
               </div>
               </div>
             </div>
             </div>
             <div class="row">
               <div class="col-md-12">
                 <div class="card-footer" id="pricefooter">
                     <!-- <div class="col-md-6"> -->
                     <p style="margin-right: 40px;" class="d-inline"><b style="margin-left:25px">Total</b></p>
                     <p class="d-inline" style="margin-left: 20px;">₹ 3,000</p>
                     <!-- <div class="col-md-6"> -->
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     <!-- </div> -->
   <!-- </div> -->

<div class="footer-copyright text-center py-3" style="margin-top: 5px;">© 2020 Copyright:
  <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
</div>
</body>
</html>
